# GCP Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-gcs-bucket-name
GCS_CHECKPOINT_PATH=gs://your-bucket/checkpoints
# Change ./credentials.json to your GCP JSON Key path if different
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json

# For Flink & Producer (The Path)
# Docker Compose uses this to mount the file into the containers
GOOGLE_APPLICATION_CREDENTIALS=path of the credentials
